{% extends "base.html" %}

{# WIDOK MECHANIKA - lista wszystkich zamówień w bazie danych #}

{% block title %}Lista zamówień{% endblock %}

{% block style %}
  table {
    width: 100%;
    margin: auto;
    border: 1px solid #000;
    border-collapse: collapse;
  }
  th, td {
    text-align: center;
    border: 1px solid #000;
  }
{% endblock %}

{% block body %}
  <h1>Lista zamówień</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nr rejestracji</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td><a href="/orders/{{order.id}}">{{ order.id }}</a></td>
          <td>{{ order.registration_number }}</td>
          <td>{{ order.email }}</td>
          <td>{{ order.status_enum.label }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
